<div class="row listOfLinks">

  <div class="col-sm-12">

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/deploy-px-k8s" target="_blank">
        <div class="card-body">
          <h5 class="card-title"> Basic Install of Portworx on Kubernetes </h5>
          <p>Gives a high level overview on installing Portworx on Kubernetes.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-basic" target="_blank">
        <div class="card-body">
          <h5 class="card-title">PVCs with Portworx </h5>
          <p>Shows how to create persistent volumes using Portworx on Kubernetes.</p>
        </div>
      </a>
    </div>


    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-helm-mongo" target="_blank">
        <div class="card-body">
          <h5 class="card-title"> Deploy Mongo using Portworx and Helm</h5>
          <p>Shows how to deploy MongoDB using Portworx and goes through failover scenarios and snapshots.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-postgres-all-in-one" target="_blank">
        <div class="card-body">
          <h5 class="card-title"> Deploy HA PostgreSQL with Portworx</h5>
          <p>Shows how to deploy PostgreSQL using Portworx.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-sql-ha" target="_blank">
        <div class="card-body">
          <h5 class="card-title">SQL Server High-Availabilty with Portworx</h5>
          <p>Goes through SQL Server deployment and high-availibility with Portworx, with a sub 2 minute failover.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-vol-shared" target="_blank">
        <div class="card-body">
          <h5 class="card-title">Shared Portworx volumes on Kubernetes </h5>
          <p>Shows how to use shared Portworx volumes on Kubernetes.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-kubectl-resize-volume" target="_blank">
        <div class="card-body">
          <h5 class="card-title">Resize Kubernetes volumes </h5>
          <p>Goes through Resizing Portworx volumes on Kubernetes.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-minio" target="_blank">
        <div class="card-body">
          <h5 class="card-title"> Backups of Portworx volumes</h5>
          <p>Shows how to deploy Minio on Portworx volumes and use it for volume backups.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-kafka" target="_blank">
        <div class="card-body">
          <h5 class="card-title"> Kafka and Zookeeper using Portworx</h5>
          <p>Shows how to deploy Kafka and Zookeeper on Kubernetes using Portworx volumes.</p>
        </div>
      </a>
    </div>

    <div class="card shadowHover">
      <a href="https://www.katacoda.com/portworx/scenarios/px-k8s-redis" target="_blank">
        <div class="card-body">
          <h5 class="card-title"> HA Redis on Kubernetes with Portworx</h5>
          <p>Goes over deploying a Redis database on Kubernetes using Portworx, showing HA failover scenario.</p>
        </div>
      </a>
    </div>


  </div>

</div>
