<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>


<script src="/js/instantsearch.min.js"></script>
<script src="/js/is.min.js"></script>
<script src="/js/docs.js"?timestamp={{ now.Unix }}></script>
<script>

    var ALGOLIA_APP_ID = 'EWKZLLNQ9L'
    var ALGOLIA_API_KEY = '64ecbeea31e6025386637d89711e31f3'
    var ALGOLIA_INDEX_NAME = '2-1'

    var VERSIONS_ALL = '2.0,2.1,1.7'
    var VERSIONS_BASE_URL = 'docs.portworx.com'
    var VERSIONS_CURRENT = '2.1'

    var EQUALIZE_TABLE_WIDTHS = ''

    // var ALGOLIA_APP_ID = '{{ getenv "ALGOLIA_APP_ID" }}'
    // var ALGOLIA_API_KEY = '{{ getenv "ALGOLIA_API_KEY" }}'
    // var ALGOLIA_INDEX_NAME = '{{ getenv "ALGOLIA_INDEX_NAME" }}'
    //
    // var VERSIONS_ALL = '{{ getenv "VERSIONS_ALL" }}'
    // var VERSIONS_BASE_URL = '{{ getenv "VERSIONS_BASE_URL" }}'
    // var VERSIONS_CURRENT = '{{ getenv "VERSIONS_CURRENT" }}'
    //
    // var EQUALIZE_TABLE_WIDTHS = '{{ .Params.equalizeTableWidths }}'

</script>

<!--<script>-->
    <!---->
    <!---->
<!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
<!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->
<!--ga('create', 'UA-64247527-1', 'auto');-->
<!--ga('set', 'contentGroup1', '{{ .Title }}');-->
<!--ga('send', 'pageview');-->

<!--</script>-->
